body {
    background: url("/images/systems/banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.navbar {
    margin-bottom: 0;
}

.content {
    background: white;
    margin-top: 100px;
    padding: 0;
}

#profile {
    margin-bottom: 0;
    border-radius: 0;
}

#profile .panel-heading{
    border-radius: 0;
}
